html, body {
	background: #EEE;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#root {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.App {
	width: 30em;
	padding: 0;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.header {
	font-size: 18pt;
	background: #444;
	border-radius: 4px 4px 0 0;
	border-bottom: solid 2px #399de8;
	color: #FFF;
	padding: 7px;
	padding-bottom: 2px;
}

.content {
	padding: 0.5em;
	border: solid 1px #CCC;
	border-bottom: 0;
	background: white;
	margin: 0;
}

.footer {
	padding: 1em;
	padding-top: 2px;
	padding-bottom: 0.5em;
	font-size: 10pt;
	color: #666;
	border-radius: 0 0 4px 4px;
	border: solid 1px #CCC;
	border-top: none;
	background: white;
	margin: 0;
	text-align: right;
}

@media screen and (max-width: 30em) {
	.App {
		width: 100%;
		margin: 0;
	}

	.header {
		border-radius: 0;
		padding-left: 0.4em;
		padding-bottom: 0.2em;
	}

	.content {
		flex: 1;
	}

	.footer {
		border-radius: 0;
	}
}

.listEntry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0.5em 0 0.5em;

	border: solid 1px #CCC;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.tags {
	display: flex;
	margin-bottom: 0.5em;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.tag {
	background-color: #444;
	color: #FFF;
	font-weight: bold;

	margin: 4px;
	border-radius: 0.5em;
	padding: 0.25em 0.4em;

	cursor: pointer;
}

.tag:hover {
	margin: 2px;
	border: solid 2px #444;
	background-color: #FFF;
	color: #444;
}

.selectedTag {
	text-decoration: underline;
}

// vim: ts=2
